* {
    margin: 0;
    box-sizing: border-box;
}

.board {
    position: absolute;
    height: 550px;
    width: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    /* background-image: linear-gradient(to right bottom, #1e1c1e, #222123, #272629, #2b2b2e, #2f3034); */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.row:nth-child(1) {
    margin-top: 2px;
}

.cell {
    position: relative;
    display: flex;
    width: 13.8px;
    height: 15px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #FF0000;
}

.off {
    position: relative;
    display: flex;
    width: 13.8px;
    height: 13px;
    margin: 1px;
    background-color: #333333;
}