* {
    margin: 0;
    box-sizing: border-box;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #943434, #80364b, #653c54, #4b3f4e, #3d3d3d);
}

.board-container {
    position: absolute;
    background-color: lightcoral;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.title {
    position: absolute;
    top: -6%;
    left: 50%;
    width: 300px;
    height: 50px;
    background-color: #333333;
    text-align: center;
    border-radius: 10px;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: white;

}

.board {
    position: relative;
    background-color: #222222;
    border-radius: 5px;
    display: grid;
    overflow: visible;
    z-index: 2;
    /* flex-grow: 2; */
}

.cell-grid {
    position: relative;
    display: inline-grid;
    ;
    height: inherit;
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow: visible;
    background-color: gray;
    border-radius: 5px;
}

.cell {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 1px;
    background-color: #FF0000;
}

.action-menu {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.65;
    left: calc(100% - 90px);
    top: calc(100% - 90px);
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
    transition: opacity 2s;
    z-index: 2;
}

.action-menu:hover {
    opacity: 1.0;
}

.play-button {
    position: relative;
    width: auto;
    height: 80px;
    color: black;
}

.play-button:hover {
    cursor: pointer;
}


.row {
    display: flex;
    justify-content: center;
}

.row:nth-child(1) {
    margin-top: 2px;
}



.dead {
    /* position: relative;
    display: flex;
    width: 13.8px;
    height: 13px;
    margin: 1px; */
    background-color: #333333;
}


/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .cell {
        position: relative;
        width: 15px;
        height: 15px;
        margin: 1px;
    }
}